In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import sklearn as sk
import warnings

In [5]:
'''
@breif: This function loads in the excel file and returns it as a ditionary of pd.DataFrames, the reason I am doing this instead of just directly calling read_excel() is
        because I am trying to supress unecessary warnings from the openpyxl library. These warnings are not important because they just reflect that some of the custom macros 
        in the read in excel file are not supported by openpyxl; openpyxl itself is important because it help parse multi sheet excel sheets into its pages so that it can be
        converted into a dictionary

@params: data_path -> the path to the .xlsx file, this is the input file to be processed
@returns: dict -> this is the dictionary where the keys are page names and the values are the pd.DataFrame for that page in the excel file
'''
def load_excel(data_path) -> dict:
    with warnings.catch_warnings():
        warnings.filterwarnings(action='ignore', category=UserWarning, module='openpyxl')
        DICT_DF = pd.read_excel(data_path, sheet_name=None)
        return DICT_DF

dict_df = load_excel('data/data_pipe.xlsx')

In [6]:
dict_df.keys()

dict_keys(['Investor Tracking', '2023 Pipeline', '2023 Fund', '2023 Individual', '2024 Pipeline', '2024 Individual', '2024 Fund', 'Balancing Act ', '2023 P&L', '2024 P&L', '2025 P&L', 'Interest Payment Tracker', 'Fund Tear Sheet Info', 'Data '])

<div>
    <h1 align='center'> ðŸ§¹ Data Cleaning ðŸ§½ </h1>
</div>

---------

## Steps:
    1) refine data: remove all unecessary values from the data

In [8]:
'''
@breif: This function clears out the rows and column from a DF, which lets us get rid of the filler, which does that based on condition, and iterates over the whole dict

@params: df -> pd.DataFrame, the dataframe (or excel sheet) to be cleaned
@returns: pd.DataFrane -> This is the newly cleaned or modified datafile

'''
def drop_null(dit_df: dict) -> dict:
    temp_dict = dict_df
    for name, frame in temp_dict.items():
        mod = frame
        mod.dropna(axis=0, how='all', inplace=True)
        mod.dropna(axis=1, how='all', inplace=True)
        frame = mod
    return temp_dict

dict_df = drop_null(dict_df)

,Unnamed: 1,Unnamed: 2,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
5,Date,NAV Fund Balance,Reinvestments,Additions,Redemptions,Balance
6,2024-01-31 00:00:00,3082975,8638.13,100000,0,3191613.13
7,2024-02-29 00:00:00,3091613.37,9011.04,675000,0,3775624.41
8,2024-03-31 00:00:00,3775624.43,9925.37,125000,0,3910549.8
9,2024-04-30 00:00:00,3910549.8,9896.23,100000,0,4020446.03
10,2024-05-31 00:00:00,3932446.05,10311.33,250000,0,4192757.38
11,2024-06-30 00:00:00,4192757.39,10064.66,0,0,4202822.05
12,2024-07-31 00:00:00,4202822.05,10486.8,50000,0,4263308.85
13,2024-08-31 00:00:00,4263308.84,10577.11,50000,0,4323885.95
14,2024-09-30 00:00:00,4323885.94,10740.72,60000,0,4394626.66
15,2024-10-31 00:00:00,NaN,NaN,NaN,NaN,NaN
16,2024-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN
17,2024-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Current Balance,4394626.66
21,NaN,NaN,NaN,NaN,10% Mnthly Pmt,36621.88883